<div class="container">
  <div class="card">
      <h1 class="card-header"> <%= @restaurant.name %> </h1>
        <div class="card-body">
          <ul>
            <li><%= @restaurant.category %></li>
            <li><%= @restaurant.address %></li>
            <li><%= @restaurant.phone_number %></li>
            <ul>
            <% @restaurant.reviews.each do |review| %>
              <li><%= review.content %></li>
              <li><%= review.rating %></li>
              <% end %>
            </ul>
          </ul>


          <div class="container">
            <h4>Leave us a comment...</h4>


            <%= simple_form_for [@restaurant, @review] do |f| %>
              <div class="form-inputs">
                <%= f.input :content %>
                <%= f.input :rating %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, class: "btn btn-primary"  %>
              </div>
            <% end %>
          </div>
      </div>
  </div>
                    <%= link_to 'Retour', restaurants_path %> |
            <%= link_to 'Editer', edit_restaurant_path(@restaurant) %> |
            <%= link_to 'Leave us a comment', new_restaurant_review_path(@restaurant) %>
</div>
